.entity_hp {
  position:relative;
  left:10px;
  right:0px;
  width:52px;
  height:6px;
  border:2px ridge #Fa0;
  background-color:rgba(0,0,0,0.3);
  padding:2px;
  z-index:10;
  display:None;
}
.entity_hp .brick {
 background-color:red;
 left:0px;
 top:0px;
 height:6px;
  z-index:10;
}


