.fog_ne {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/fog/fog-ne.png);
}
.fog_ne_se {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/fog/fog-ne-se.png);
}
.fog_ne_se_s {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/fog/fog-ne-se-s.png);
}
.fog_n_ne {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/fog/fog-n-ne.png);
}
.fog_n_ne_se {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/fog/fog-n-ne-se.png);
}
.fog_n {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/fog/fog-n.png);
}
.fog_n_ne_nw,  .fog_nw_n_ne {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/fog/fog-nw-n-ne.png);
}
.fog_n_nw, .fog_nw_n {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/fog/fog-nw-n.png);
}
.fog_nw {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/fog/fog-nw.png);
}
.fog_ {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/fog/fog1.png);
}
.fog_se {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/fog/fog-se.png);
}
.fog_se_s {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/fog/fog-se-s.png);
}
.fog_se_s_sw {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/fog/fog-se-s-sw.png);
}
.fog_s {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/fog/fog-s.png);
}
.fog_s_sw_nw {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/fog/fog-s-sw-nw.png);
}
.fog_s_sw {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/fog/fog-s-sw.png);
}
.fog_n_sw_nw, .fog_sw_nw_n {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/fog/fog-sw-nw-n.png);
}
.fog_sw_nw {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/fog/fog-sw-nw.png);
}
.fog_sw {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/fog/fog-sw.png);
}
