body {
  background-color:black;
}

#field {
  width:500px;
  height:500px;
  overflow:scroll;
  position:relative;
}
/*
#field {
  width:500px;
  height:500px;
}
*/
.tile {
  position:absolute;
  width:72px;
  height:72px;
}
.floor0 {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/cave/floor.png);
}
.floor1 {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/cave/floor2.png);
}
.floor2 {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/cave/floor3.png);
}
.floor3 {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/cave/floor4.png);
}
.floor4 {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/cave/floor5.png);
}
.floor5 {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/cave/floor6.png);
}

.wall {
  width:126px;
  height:180px;
  position:absolute;
  z-index:2;
}

.wall_concave_tl {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/cave/wall-rough-concave-tl.png);
  top:-72px;
  left:0px;
}
.wall_concave_l {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/cave/wall-rough-concave-l.png);
  top:0px;
  left:0px;
}
.wall_concave_bl {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/cave/wall-rough-concave-bl.png);
  top:-72px;
  left:0px;
}
.wall_concave_tr {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/cave/wall-rough-concave-tr.png);
  top:-36px;
  left:-54px;
}
.wall_concave_r {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/cave/wall-rough-concave-r.png);
  top:-36px;
  left:-54px;
}
.wall_concave_br {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/cave/wall-rough-concave-br.png);
  top:-36px;
  left:-54px;
}



/* convex*/
.wall_convex_bl {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/cave/wall-rough-convex-bl.png);
  top:-36px;
  left:-54px;
}
.wall_convex_tl {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/cave/wall-rough-convex-tl.png);
  top:-108px;
  left:-54px;
}
.wall_convex_l {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/cave/wall-rough-convex-l.png);
  top:-36px;
  left:-54px;
}
.wall_convex_br {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/cave/wall-rough-convex-br.png);
  top:0px;
  left:0px;
}
.wall_convex_tr {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/cave/wall-rough-convex-tr.png);
  top:-72px;
  left:0px;
}
.wall_convex_r {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/cave/wall-rough-convex-r.png);
  top:-72px;
  left:0px;
}
.entity {
  position:absolute;
  width:72px;
  height:72px;
}
.general {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/units/human-loyalists/general.png);
}

.fencer {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/units/human-loyalists/fencer-idle-1.png);
}
.trapdoor {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/scenery/trapdoor-closed.png);
}

.fire {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/scenery/fire1.png);
}

.fire.anim1 {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/scenery/fire2.png);
}
.fire.anim2 {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/scenery/fire3.png);
}
.fire.anim3 {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/scenery/fire4.png);
}
.fire.anim4 {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/scenery/fire5.png);
}
.fire.anim5 {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/scenery/fire6.png);
}
.fire.anim6 {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/scenery/fire7.png);
}
.fire.anim7 {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/scenery/fire8.png);
}

.gold_small {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/items/gold-coins-small.png);
}

.key {
  background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/items/key.png);
}


