.void_ne {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/void/void-ne.png);
}
.void_ne_se {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/void/void-ne-se.png);
}
.void_ne_se_s {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/void/void-ne-se-s.png);
}
.void_n_ne {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/void/void-n-ne.png);
}
.void_n_ne_se {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/void/void-n-ne-se.png);
}
.void_n {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/void/void-n.png);
}
.void_n_ne_nw,  .void_nw_n_ne {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/void/void-nw-n-ne.png);
}
.void_n_nw, .void_nw_n {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/void/void-nw-n.png);
}
.void_nw {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/void/void-nw.png);
}
.void_ {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/void/void.png);
}
.void_se {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/void/void-se.png);
}
.void_se_s {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/void/void-se-s.png);
}
.void_se_s_sw {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/void/void-se-s-sw.png);
}
.void_s {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/void/void-s.png);
}
.void_s_sw_nw {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/void/void-s-sw-nw.png);
}
.void_s_sw {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/void/void-s-sw.png);
}
.void_n_sw_nw, .void_sw_nw_n {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/void/void-sw-nw-n.png);
}
.void_sw_nw {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/void/void-sw-nw.png);
}
.void_sw {
 background-image:url(/usr/share/games/wesnoth/1.10/data/core/images/terrain/void/void-sw.png);
}
